
@mixin informationAfterBefore($top , $left){
    content: "";
    background: $colorTextoGris;
    width: 14vw;
    height: 1px;
    display: block;
    position: relative;
    opacity: 0.5;
    top: $top;
    left: $left;
}

@mixin buttonStyles($fsize, $height, $width){
    color: $blanco;
    font-size: $fsize;
    background: $colorBotones;
    width: $width;
    height: $height;
    border-radius: 8px;
    border: none;
    outline:none;
}
@mixin circlesImage($widthHeight , $color , $bs){
    border:$bs solid  $color;
    width:$widthHeight ;
    height: $widthHeight;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

%hover-button {
    background: $colorBotones - 30%;
    cursor: pointer;
  }
  
  %center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }



  @mixin breakpoint($class) {
    @if $class == xs {
      @media (max-width: 767px) { @content; }
    }
    @else if $class == xxs {
        @media (max-width: 575px) { @content; }
      }
    @else if $class == s { 
      @media (max-width: 768px) { @content; }
    }
   
    @else if $class == md {
      @media (max-width: 992px) { @content; }
    }
   
    @else if $class == lg {
      @media (max-width: 1200px) { @content; }
    }
   
    @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
  }