$colorFondoUno   :  rgb(40,124,186);
$colorFondoDos   :  rgb(248,248,248);
$colorFondoTres  :  rgb(235,245,246);
$colorFondoCuatro:  rgb(117,117,117);
 
$colorBotones:  rgb(248,135,103);

$colorTitulos  : rgb(100,100,100);
$colorTextoGris: rgb(117,117,117);
$colorTextoAzul: rgb(51,121,183);

$negro   :  black;
$celeste :  rgb(151,206,203);
$blanco  :  white;
$amarillo:  rgb(253,189,3);

