$colorFondoUno   :  rgb(40,124,186);
$colorFondoDos   :  rgb(240,240,240);
$colorFondoTres  :  rgb(230,240,241) ;
$colorFondoCuatro:  rgb(117,117,117);

$colorBotones:  rgb(248,135,103);
$colorTitulos  : rgb(100,100,100);
$colorTextoGris: rgb(117,117,117);
$colorTextoAzul: rgb(51,121,183);

$negro   :  black;
$celeste :  rgb(151,206,203);
$blanco  :  white;
$amarillo:  rgb(253,189,3);
$fs-titulos  :  35px;
$fs-sub-titulos  :  30px;
$fs-slider-boton  :  25px;
$texto-grande  :  20px;
$texto  :  15px;
$texto-s  :  14px;
$texto-nav: 13px;

