@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.button__button:hover {
  background: #da6949;
  cursor: pointer;
}

.navPrincipal__content, .navPrincipal__content__social__medias, .button__button, .cardBlock__circle, .cardBlock__circle__overlay, .cardBlock__background__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.gray-text {
  color: #757575;
}

.navPrincipal {
  background: #287cba;
}

.navPrincipal__content__text a {
  color: white;
}

.navPrincipal__content__social {
  font-size: 16px;
}

.navPrincipal__content__social a {
  color: white;
}

.navPrincipal__content__social a img {
  width: 16px;
}

.navPrincipal__content__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navPrincipal__content__search__input {
  color: red;
}

.navPrincipal__content__search__input input {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  margin-right: 1em;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 25px;
  background: url(../img/icon--search_b.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: #d4e4f2;
  background-size: 18px;
  border: solid 1px transparent;
  border-radius: 4px;
}

.navPrincipal__content__search__input input:focus {
  width: 110px;
  background-image: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background-color: white;
}

.navPrincipal__content__search__collapsible {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-left: white solid 1px;
  border-right: white solid 1px;
  cursor: pointer;
  width: 50px;
  outline: none;
}

.navPrincipal__content__search__collapsible__spain {
  width: 20px;
}

.navPrincipal__content__search__collapsible i {
  font-size: 14px;
  color: white;
}

.navPrincipal__content__search__content {
  width: 100%;
  top: 40px;
  position: absolute;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.navPrincipal__content__search__content li {
  list-style: none;
}

.navPrincipal__content__search__content li a {
  color: black;
}

.navPrincipal__content__search__content li a:hover {
  color: red;
}

.background {
  height: 45vh;
  background: url(../img/santander.jpg);
  max-height: 350px;
  background-position: center center;
  background-size: cover;
}

.information__title {
  font-size: 35px;
  color: #646464;
}

.information__separator {
  width: 14px;
  height: 14px;
  background: #fdbd03;
  border-radius: 50%;
}

.information__separator::after {
  content: "";
  background: #757575;
  width: 14vw;
  height: 1px;
  display: block;
  position: relative;
  opacity: 0.5;
  top: 6px;
  left: 14px;
}

.information__separator::before {
  content: "";
  background: #757575;
  width: 14vw;
  height: 1px;
  display: block;
  position: relative;
  opacity: 0.5;
  top: 7px;
  left: -14vw;
}

.information__content {
  font-size: 20px;
  color: #757575;
}

.information__content--BgMap {
  text-align: justify;
}

.button__tittle {
  font-size: 25px;
  color: #3379b7;
}

.button__button {
  color: white;
  font-size: 18px;
  background: #f88767;
  width: 100px;
  height: 55px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.button__button:focus {
  -webkit-box-shadow: 0px 0px 10px 2px #f88767;
          box-shadow: 0px 0px 10px 2px #f88767;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button__button--page {
  color: white;
  font-size: 18px;
  background: #f88767;
  width: 270px;
  height: 55px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.BgMap {
  background-color: #f0f0f0;
}

.BgMap__content__icon {
  width: 45px;
  height: 45px;
  fill: #f88767;
}

.cardBlock {
  margin-top: -100px;
}

.cardBlock__circle {
  position: relative;
  top: 100px;
}

.cardBlock__circle__overlay {
  border: 5px solid #97cecb;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.cardBlock__circle__overlay__image {
  position: absolute;
  width: 200px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cardBlock__circle__overlay__image:hover {
  width: 220px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cardBlock__circle__overlay__image--secondary {
  width: 300px;
}

.cardBlock__circle__overlay__image--secondary:hover {
  width: 330px;
}

.cardBlock__circle__overlay--secondary {
  border: 5px solid #97cecb;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.cardBlock__circle--secondary {
  top: 145px;
}

.cardBlock__background {
  padding-top: 100px;
  background: #f0f0f0;
  border-radius: 7px;
  border: solid 2px #e2e2e2;
}

.cardBlock__background--secondary {
  padding-top: 150px;
}

.cardBlock__background__icons__icon {
  width: 25px;
  height: 25px;
  fill: #f88767;
}

.cardBlock__title {
  font-size: 16px;
  color: #646464;
}

.cardBlock__hr {
  width: 70px;
  height: 3px;
  background: #97cecb;
}

.cardBlock__content {
  color: black;
  font-size: 14px;
}

.cardBlock__content--secondary {
  text-align: left;
}

.bgFooter {
  background: #e6f0f1;
}

.bgFooter__person {
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  border: solid 2px #ebebeb;
  border-radius: 10px;
  padding: 4% 4% 8% 4%;
}

.bgFooter__person::after {
  content: "";
  display: block;
  width: 40px;
  height: 15px;
  position: absolute;
  bottom: -15px;
  left: 30px;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  border-left: 20px solid transparent;
}

.bgFooter__person::before {
  content: "”";
  font-family: "Roboto", sans-serif;
  color: #fdbd03;
  font-size: 100px;
  display: block;
  position: absolute;
  bottom: -80px;
  left: 85%;
}

.bgFooter__opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bgFooter__opinion__circle {
  float: left;
}

.bgFooter__opinion__circle__overlay {
  border: 4px solid #fdbd03;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.footer {
  font-size: 15px;
  background: #757575;
}

.footer a {
  color: white;
}

.carousel-item {
  height: 400px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
}

.carousel i {
  font-size: 30px;
  color: black;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #d4c9ca;
  vertical-align: middle;
  opacity: 0.8;
}

.carousel .slide1 {
  background-image: url(../img/slider-residencia-uno.jpg);
  background-size: cover;
}

.carousel .slide2 {
  background-image: url(../img/slider-residencia-uno.jpg);
  background-size: cover;
}

.carousel .container div div {
  top: 50px;
}

.carousel .container div div {
  top: 25px !important;
  background-color: rgba(254, 254, 254, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
  .carousel-item {
    height: 350px;
  }
}

@media only screen and (max-width: 991px) {
  .carousel i {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 25px;
  }
  .carousel-item {
    height: 300px;
  }
  .carousel-text hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .carousel i {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 20px;
  }
  .carousel-item {
    height: 240px;
  }
}

@media only screen and (max-width: 630px) {
  .navPrincipal__content__search .reverse {
    position: relative;
    float: right;
    width: 50%;
  }
  .navPrincipal__content__search .reverse:nth-of-type(1) {
    left: 50%;
  }
  .navPrincipal__content__search .reverse:nth-of-type(2) {
    left: -50%;
  }
  .carousel-item {
    height: 200px;
  }
}

@media only screen and (max-width: 425px) {
  .carousel .container div div {
    padding: 10px;
  }
  .carousel .container {
    padding: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */