@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./variables";
@import "./mixins";

$fs-titulos: 35px;
$fs-sub-titulos: 30px;
$fs-slider-boton: 25px;
$texto-grande: 20px;
$texto: 15px;
$texto-s: 14px;
$texto-nav: 13px;

.gray-text {
  color: $colorTextoGris;
}

.input {
  background-color: rgb(230, 230, 230);
  padding-left: 0.4rem;
  border-radius: 5px;
  border: none;
  height: 25px;
  margin: 0 15px;
  width: 30px;
  transition: all 0.5s;

  &:focus {
    background-color: white;
    width: 100px;
    @include breakpoint(s) {
      width: 100%;
    }
  }
  @include breakpoint(s) {
    margin: 0 15px 0 auto;
  }
  &.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }
}

.nav-bar {
  background-color: $blanco;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 0.5px solid rgb(200, 200, 200);
  &__main {
    background-color: $colorFondoUno;
    color: $blanco;
    &__container {
      justify-content: center;
      min-height: 37px;
      height: min-content;
      display: flex;
      flex-wrap: wrap;
    }
    &__title {
      height: 40px;
      display: flex;
      align-items: center;
      @include breakpoint(s) {
        order: -2;
        flex: 1 1 60%;
      }
      @include breakpoint(md) {
        border-bottom: 1px solid $blanco;
        width: 100%;
        justify-content: center;
      }
      @include breakpoint(mobile) {
        height: 58px;
        flex: 1 1 50%;
      }
    }
    &__icons {
      height: 40px;
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      margin-right: 10px;
      a {
        i {
          color: $blanco;
        }
        img {
          height: 19px;
          margin-bottom: 4px;
        }
        img.second {
          height: 22px;
        }
      }
      @include breakpoint(md) {
        width: 240px;
        margin: 0;
      }
      @include breakpoint(s) {
        width: 350px;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      height: 40px;
      @include breakpoint(s) {
        border-bottom: 1px solid $blanco;
        flex: 1 1 25%;
        order: -1;
      }
      @include breakpoint(mobile) {
        height: 58px;
      }
    }
    &__country {
      cursor: pointer;
      border-left: 1px solid white;
      border-right: 1px solid white;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .dropdown {
        width: 100%;
        height: 100%;
        @extend %center-content;
        position: relative;
        &__button {
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-right: 10px;
          margin-left: 10px;
          background-color: transparent;
          border: none;
          img {
            margin-right: 7px;
            height: 14px;
            width: auto;
          }

          @include breakpoint(mobile) {
            margin: 0;
          }
        }
        &__options {
          border-radius: 5px;
          background-color: black;
          z-index: 101;
          position: absolute;
          bottom: -105px;
          right: 0;
          display: none;
          height: min-content;
          min-width: 100%;
          width: min-content;
          &-option {
            background-color: darken($colorFondoUno, 10%);

            @extend %center-content;
            justify-content: flex-start;
            height: 35px;
            width: 100%;
            padding: 4px 15px;
            img {
              margin-right: 7px;
              height: 13px;
              width: auto;
            }
            &:hover {
              background-color: lighten($colorFondoUno, 10%) !important;
            }
            &:last-child {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
      }
      @include breakpoint(s) {
        border-bottom: 1px solid $blanco;
        width: 100%;

        flex: 1 1 15%;
        order: -1;
      }
      @include breakpoint(mobile) {
        height: 58px;
      }
      &:hover {
        background-color: darken($colorFondoUno, 10%);
      }
    }
  }

  &__secondary {
    flex-wrap: wrap;
    height: min-content;
    display: flex;
    align-items: center;
    &__image {
      width: 250px;
      img {
        transition: all 0.1s;
        margin-top: 7px;
        margin-bottom: 7px;
        width: 290px;
        height: auto;
      }
    }
    &__navbar {
      position: relative;
      left: 0;

      height: 100%;
      align-items: center;
      box-sizing: border-box;
      padding-left: 40px;
      width: calc(100% - 250px);
      justify-content: space-between;
      display: flex;
      transition: left 0.5s;
      ul {
        display: flex;
        padding: 0;
        margin: 0 auto;
        margin-right: 20px;
        li {
          cursor: pointer;
          transition: all 0.4s;
          margin-left: 10px;
          margin-right: 10px;
          box-sizing: border-box;
          padding-left: 8px;
          padding-right: 8px;
          border-radius: 4px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: $texto-nav;
          font-weight: 600;
          display: flex;
          align-items: center;
          &:hover {
            background: $amarillo !important;
            color: $blanco !important;
          }

          @include breakpoint(md) {
            padding-top: 5px;
            padding-bottom: 5px;
            width: 100%;
            margin: 0;
          }
        }
        @include breakpoint(md) {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      @include breakpoint(md) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }

      &-button {
        margin-top: 10px;
        margin-bottom: 15px;
        button {
          padding: 0 20px;
          width: 100%;
          font-size: $texto-s;
          height: 35px;
        }
      }
    }

    &-collapsable {
      width: calc(100% - 250px);
      cursor: pointer;
      display: none;
      @include breakpoint(md) {
        justify-content: flex-end;
        display: flex;
        margin-left: auto;
        font-size: $fs-sub-titulos;
      }
    }
  }
}

.slider {
  position: relative;
  &__text {
    justify-content: center;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 70px;
    box-sizing: border-box;
    width: 430px;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 0 30px;
    position: absolute;
    top: calc(65% - 35px);
    left: calc(50% - 215px);
    font-size: $fs-slider-boton;
    color: $colorTitulos;
    span {
      color: $colorTextoAzul;
    }
    @include breakpoint(lg) {
      top: calc(50% - 35px);
    }
    @include breakpoint(lg) {
      font-size: 22px;
      padding: 0 25px;
      width: 375px;
      left: calc(50% - 187.5px);
    }
    @include breakpoint(md) {
      font-size: 20px;
      padding: 0 20px;
      width: auto;
      left: calc(50% - 167.5px);
    }
  }
  img {
    min-height: 160px;
  }
}

.background {
  height: 45vh;
  background: url(../img/santander.jpg);
  max-height: 350px;
  background-position: center center;
  background-size: cover;
}

.information {
  &__title {
    font-size: $fs-titulos;
    color: $colorTitulos;
  }
  &__separator {
    width: 14px;
    height: 14px;
    background: $amarillo;
    border-radius: 50%;
    &::after {
      @include informationAfterBefore(6px, 14px);
    }
    &::before {
      @include informationAfterBefore(7px, -14vw);
    }
  }
  &__content {
    font-size: $texto-grande;
    color: $colorTextoGris;
    &--BgMap {
      text-align: justify;
    }
  }
}

.button {
  &--title {
    font-size: $fs-slider-boton;
  }
  &-content {
    @extend %center-content;
    // @parametros tamaño de texto, altura , anchura
    @include buttonStyles(18px, 55px, 100px);
    &:hover {
      @extend %hover-button;
    }
    &:focus {
      box-shadow: 0px 0px 10px 2px $colorBotones;
      outline: none;
      transition: all 0.2s;
    }
    &--page {
      // @parametros tamaño de texto, altura , anchura
      @include buttonStyles(18px, 55px, 270px);
    }
  }
}

.bg-frame {
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: rgb(245, 248, 253);
  &__container {
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    &__map {
      position: relative;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
      flex: 1 1 50%;
      padding: 15px;
      div {
        margin: 0 auto;
      }
      iframe {
        height: 100%;
        padding-bottom: 7px;
        @include breakpoint(md) {
          min-height: 300px;
        }
      }
      &::after {
        content: "Tour virtual residencias";
        position: absolute;
        bottom: -10px;
        left: calc(50% - 80px);
        font-weight: 400;
      }
    }
    &__content {
      box-sizing: border-box;
      flex: 1 1 50%;
      flex-basis: 400px;
      padding: 10px;
      &-title {
        color: $colorTextoGris;
        font-size: $texto;
        font-weight: 600;
      }
      &-services {
        flex-wrap: wrap;
        display: flex;
        .services-item {
          display: flex;
          align-items: center;
          flex: 1 1 50%;
          box-sizing: border-box;
          font-size: $texto-s;
          font-weight: 600;

          i {
            color: $colorBotones;
            font-size: $fs-sub-titulos;
            margin: 17px 15px 17px 5px;
          }
        }
      }
      @include breakpoint(md) {
        padding-top: 30px;
      }
    }
  }
}

.card-block {
  $this: &;
  margin-top: -100px;
  &__circle {
    @extend %center-content;
    position: relative;
    top: 100px;
    &-overlay {
      @extend %center-content;
      @include circlesImage(200px, $celeste, 5px);
      img {
        position: absolute;
        width: 200px;
        transition: all 0.4s;

        &:hover {
          width: 220px;
          transition: all 0.4s;
        }
      }
    }
  }
  &__background {
    padding-top: 100px;
    background: $colorFondoDos;
    border-radius: 7px;
    border: solid 2px ($colorFondoDos - 14%);
    &__icons {
      @extend %center-content;
      img {
        width: 25px;
        height: 25px;
        fill: $colorBotones;
      }
    }
  }
  &__title {
    font-size: $texto;
    color: $colorTitulos;
  }
  &__hr {
    width: 70px;
    height: 3px;
    background: $celeste;
  }
  &__content {
    color: $negro;
    font-size: $texto-s;
  }
  &--style-2 {
    #{$this}__circle {
      top: 145px;
      &-overlay {
        @include circlesImage(300px, $celeste, 5px);
        img {
          width: 300px;
          &:hover {
            width: 330px;
          }
        }
      }
    }
    #{$this}__content {
      text-align: left;
    }
    #{$this}__background {
      padding-top: 150px;
    }
  }
}

.opinions {
  background: $colorFondoTres;
  &__person {
    margin-bottom: 20px;
    position: relative;
    background-color: $blanco;
    border: solid 2px ($colorFondoDos - 5%);
    border-radius: 10px;
    padding: 4% 4% 8% 4%;
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 15px;
      position: absolute;
      bottom: -15px;
      left: 30px;

      border-right: 20px solid transparent;
      border-top: 20px solid $blanco;
      border-left: 20px solid transparent;
    }
    &::before {
      content: "”";
      font-family: "Roboto", sans-serif;
      color: $amarillo;
      font-size: 100px;
      display: block;
      position: absolute;
      bottom: -80px;
      left: 85%;
    }
  }
  &__commentary {
    display: flex;
    align-items: center;
    &__circle {
      float: left;
      &-overlay {
        @include circlesImage(100px, $amarillo, 4px);
      }
    }
    &__description {
      & > div {
        font-size: 18px;
      }
    }
  }
}

.footer {
  font-size: $texto;
  background: $colorFondoCuatro;
  a {
    color: white;
  }
}

#pageScroll {
  width: 40px;
  height: 60px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: fixed;
  bottom: -60px;
  z-index: 100;
  left: calc(100% - 250px);
  box-shadow: 8px 6px 7px -1px rgba(0, 0, 0, 0.62);
  transition: all 0.5s;

  @include breakpoint(s) {
    left: calc(100% - 100px);
  }

  &:hover {
    transform: scale(1.05);
  }

  &.scrollModify {
    height: 40px !important;
    width: 70px !important;
    bottom: 100px !important;

    border-bottom-left-radius: 8px !important;
    border-top-right-radius: 0 !important ;

    left: calc(100%) !important;
  }
  &.leftT {
    left: calc(100% - 70px) !important;
  }
}
