@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./variables";
@import "./mixins";

.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-28 {
  font-size: 28px;
}


.gray-text {
  color: $colorTextoGris;
}

.nav-bar {
  border-bottom: 0.5px solid gray;
  .mainNav {
    background-color: $colorFondoUno;
    color: $blanco;
    &__container {
      justify-content: center;
      min-height: 37px;
      height: min-content;
      display: flex;
      flex-wrap: wrap;
    }
    &__title {
      height: 40px;
      display: flex;
      align-items: center;
      @include breakpoint(s) {
        order: -2;
        flex: 1 1 60%;
      }
      @include breakpoint(md) {
        border-bottom: 1px solid $blanco;
        width: 100%;
        justify-content: center;
      }
    }
    &__icons {
      height: 40px;
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      margin-right: 10px;
      a {
        i {
          color: $blanco;
        }
        img {
          height: 19px;
          margin-bottom: 4px;
        }
        img.second {
          height: 22px;
        }
      }
      @include breakpoint(md) {
        width: 240px;
        margin: 0;
      }
      @include breakpoint(s) {
        width: 350px;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      height: 40px;
      input {
        padding-left: 0.4rem;
        border-radius: 5px;
        border: none;
        height: 25px;
        margin: 0 15px;
        width: 30px;
        transition: width 0.5s;

        &:focus {
          width: 100px;
          @include breakpoint(s) {
            width: 100%;
          }
        }
        @include breakpoint(s) {
          margin: 0 0 0 auto;
        }
      }
      input.empty {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
      }

      @include breakpoint(s) {
        border-bottom: 1px solid $blanco;
        flex: 1 1 25%;
        order: -1;
      }
    }
    &__country {
      height: 40px;
      box-sizing: border-box;

      display: flex;
      align-items: center;
      .dropdown {
        button {
          background-color: transparent;
          border: none;
        }
      }
      @include breakpoint(s) {
        border-bottom: 1px solid $blanco;
        width: 100%;

        flex: 1 1 15%;
        order: -1;
      }
    }
  }

  .secondNav {
    flex-wrap: wrap;
    height: min-content;
    display: flex;
    align-items: center;
    &__image {
      width: 250px;
      img {
        margin-top: 7px;
        margin-bottom: 7px;
        width: 250px;
        height: auto;
      }
    }
    &__navbar {

      position: relative;
      left: 0;

      height: 100%;
      align-items: center;
      box-sizing: border-box;
      padding-left: 40px;
      width: calc(100% - 250px);
      justify-content: space-between;
      display: flex;
      transition: left 0.5s;
     
    


      .nav-item {

     
        box-sizing: border-box;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        font-weight: 600;
        display: flex;
        align-items: center;
        &:hover {
          background: $amarillo !important;
          color: $blanco !important;
        }

        @include breakpoint(md) {
          padding-top: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
      }
      .nav-button {

        margin-top: 10px;
        margin-bottom: 15px;
        button{
          width:100%;
          font-size: 13px;
        }
      }

      @include breakpoint(md) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }

    }

    &-collapsable {
      width: calc(100% - 250px);;
      cursor: pointer;
      display: none;
      @include breakpoint(md) {
        justify-content: flex-end;
        display: flex;
        margin-left: auto;
        font-size: 30px;
      }
    }
  }
}

.background {
  height: 45vh;
  background: url(../img/santander.jpg);
  max-height: 350px;
  background-position: center center;
  background-size: cover;
}

.information {
  &__title {
    font-size: 35px;
    color: $colorTitulos;
  }
  &__separator {
    width: 14px;
    height: 14px;
    background: $amarillo;
    border-radius: 50%;
    &::after {
      @include informationAfterBefore(6px, 14px);
    }
    &::before {
      @include informationAfterBefore(7px, -14vw);
    }
  }
  &__content {
    font-size: 20px;
    color: $colorTextoGris;
    &--BgMap {
      text-align: justify;
    }
  }
}

.button {
  &__tittle {
    height: 35px !important;
    font-size: 25px;
    color: $colorTextoAzul;
  }
  &__button {
    @extend %center-content;
    // @parametros tamaño de texto, altura , anchura
    @include buttonStyles(18px, 55px, 100px);
    &:hover {
      @extend %hover-button;
    }
    &:focus {
      box-shadow: 0px 0px 10px 2px $colorBotones;
      outline: none;
      transition: all 0.2s;
    }
    &--page {
      // @parametros tamaño de texto, altura , anchura
      @include buttonStyles(18px, 55px, 270px);
    }
  }
}

.BgMap {
  background-color: $colorFondoDos;
  &__map {
  }
  &__content {
    &__icon {
      width: 45px;
      height: 45px;
      fill: $colorBotones;
    }
  }
}

.cardBlock {
  margin-top: -100px;
  &__circle {
    @extend %center-content;
    position: relative;
    top: 100px;

    &__overlay {
      @extend %center-content;
      @include circlesImage(200px, $celeste, 5px);
      &__image {
        position: absolute;
        width: 200px;
        transition: all 0.4s;

        &:hover {
          width: 220px;
          transition: all 0.4s;
        }
        &--secondary {
          width: 300px;
          &:hover {
            width: 330px;
          }
        }
      }
      &--secondary {
        @include circlesImage(300px, $celeste, 5px);
      }
    }
    &--secondary {
      top: 145px;
    }
  }
  &__background {
    padding-top: 100px;
    background: $colorFondoDos;
    border-radius: 7px;
    border: solid 2px ($colorFondoDos - 14%);
    &--secondary {
      padding-top: 150px;
    }
    &__icons {
      @extend %center-content;
      &__icon {
        width: 25px;
        height: 25px;
        fill: $colorBotones;
      }
    }
  }
  &__title {
    font-size: 16px;
    color: $colorTitulos;
  }
  &__hr {
    width: 70px;
    height: 3px;
    background: $celeste;
  }
  &__content {
    color: $negro;
    font-size: 14px;
    &--secondary {
      text-align: left;
    }
  }
}

.bgFooter {
  background: $colorFondoTres;
  &__person {
    margin-bottom: 20px;
    position: relative;
    background-color: $blanco;
    border: solid 2px ($colorFondoDos - 5%);
    border-radius: 10px;
    padding: 4% 4% 8% 4%;
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 15px;
      position: absolute;
      bottom: -15px;
      left: 30px;

      border-right: 20px solid transparent;
      border-top: 20px solid $blanco;
      border-left: 20px solid transparent;
    }
    &::before {
      content: "”";
      font-family: "Roboto", sans-serif;
      color: $amarillo;
      font-size: 100px;
      display: block;
      position: absolute;
      bottom: -80px;
      left: 85%;
    }
  }
  &__opinion {
    display: flex;
    align-items: center;
    &__circle {
      float: left;

      &__overlay {
        @include circlesImage(100px, $amarillo, 4px);
      }
    }
  }
}

.footer {
  font-size: 15px;
  background: $colorFondoCuatro;
  a {
    color: white;
  }
}
