@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.button-content:hover {
  background: #da6949;
  cursor: pointer;
}

.nav-bar__main__country .dropdown, .nav-bar__main__country .dropdown__options-option, .button-content, .card-block__circle, .card-block__circle-overlay, .card-block__background__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gray-text {
  color: #757575;
}

.input {
  background-color: #e6e6e6;
  padding-left: 0.4rem;
  border-radius: 5px;
  border: none;
  height: 25px;
  margin: 0 15px;
  width: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.input:focus {
  background-color: white;
  width: 100px;
}

@media (max-width: 768px) {
  .input:focus {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .input {
    margin: 0 15px 0 auto;
  }
}

.input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.nav-bar {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 0.5px solid #c8c8c8;
}

.nav-bar__main {
  background-color: #287cba;
  color: white;
}

.nav-bar__main__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 37px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-bar__main__title {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .nav-bar__main__title {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
}

@media (max-width: 992px) {
  .nav-bar__main__title {
    border-bottom: 1px solid white;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 470px) {
  .nav-bar__main__title {
    height: 58px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.nav-bar__main__icons {
  height: 40px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 10px;
}

.nav-bar__main__icons a i {
  color: white;
}

.nav-bar__main__icons a img {
  height: 19px;
  margin-bottom: 4px;
}

.nav-bar__main__icons a img.second {
  height: 22px;
}

@media (max-width: 992px) {
  .nav-bar__main__icons {
    width: 240px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .nav-bar__main__icons {
    width: 350px;
  }
}

.nav-bar__main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

@media (max-width: 768px) {
  .nav-bar__main__search {
    border-bottom: 1px solid white;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 470px) {
  .nav-bar__main__search {
    height: 58px;
  }
}

.nav-bar__main__country {
  cursor: pointer;
  border-left: 1px solid white;
  border-right: 1px solid white;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bar__main__country .dropdown {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav-bar__main__country .dropdown__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

.nav-bar__main__country .dropdown__button img {
  margin-right: 7px;
  height: 14px;
  width: auto;
}

@media (max-width: 470px) {
  .nav-bar__main__country .dropdown__button {
    margin: 0;
  }
}

.nav-bar__main__country .dropdown__options {
  border-radius: 5px;
  background-color: black;
  z-index: 101;
  position: absolute;
  bottom: -105px;
  right: 0;
  display: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 100%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.nav-bar__main__country .dropdown__options-option {
  background-color: #1f6090;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 35px;
  width: 100%;
  padding: 4px 15px;
}

.nav-bar__main__country .dropdown__options-option img {
  margin-right: 7px;
  height: 13px;
  width: auto;
}

.nav-bar__main__country .dropdown__options-option:hover {
  background-color: #3f96d6 !important;
}

.nav-bar__main__country .dropdown__options-option:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 768px) {
  .nav-bar__main__country {
    border-bottom: 1px solid white;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15%;
            flex: 1 1 15%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 470px) {
  .nav-bar__main__country {
    height: 58px;
  }
}

.nav-bar__main__country:hover {
  background-color: #1f6090;
}

.nav-bar__secondary {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__secondary__image {
  width: 250px;
}

.nav-bar__secondary__image img {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 290px;
  height: auto;
}

.nav-bar__secondary__navbar {
  position: relative;
  left: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  width: calc(100% - 250px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.nav-bar__secondary__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 auto;
  margin-right: 20px;
}

.nav-bar__secondary__navbar ul li {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__secondary__navbar ul li:hover {
  background: #fdbd03 !important;
  color: white !important;
}

@media (max-width: 992px) {
  .nav-bar__secondary__navbar ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .nav-bar__secondary__navbar ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 992px) {
  .nav-bar__secondary__navbar {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.nav-bar__secondary__navbar-button {
  margin-top: 10px;
  margin-bottom: 15px;
}

.nav-bar__secondary__navbar-button button {
  padding: 0 20px;
  width: 100%;
  font-size: 14px;
  height: 35px;
}

.nav-bar__secondary-collapsable {
  width: calc(100% - 250px);
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .nav-bar__secondary-collapsable {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    font-size: 30px;
  }
}

.slider {
  position: relative;
}

.slider__text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 430px;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 0 30px;
  position: absolute;
  top: calc(65% - 35px);
  left: calc(50% - 215px);
  font-size: 25px;
  color: #646464;
}

.slider__text span {
  color: #3379b7;
}

@media (max-width: 1200px) {
  .slider__text {
    top: calc(50% - 35px);
  }
}

@media (max-width: 1200px) {
  .slider__text {
    font-size: 22px;
    padding: 0 25px;
    width: 375px;
    left: calc(50% - 187.5px);
  }
}

@media (max-width: 992px) {
  .slider__text {
    font-size: 20px;
    padding: 0 20px;
    width: auto;
    left: calc(50% - 167.5px);
  }
}

.slider img {
  min-height: 160px;
}

.background {
  height: 45vh;
  background: url(../img/santander.jpg);
  max-height: 350px;
  background-position: center center;
  background-size: cover;
}

.information__title {
  font-size: 35px;
  color: #646464;
}

.information__separator {
  width: 14px;
  height: 14px;
  background: #fdbd03;
  border-radius: 50%;
}

.information__separator::after {
  content: "";
  background: #757575;
  width: 14vw;
  height: 1px;
  display: block;
  position: relative;
  opacity: 0.5;
  top: 6px;
  left: 14px;
}

.information__separator::before {
  content: "";
  background: #757575;
  width: 14vw;
  height: 1px;
  display: block;
  position: relative;
  opacity: 0.5;
  top: 7px;
  left: -14vw;
}

.information__content {
  font-size: 20px;
  color: #757575;
}

.information__content--BgMap {
  text-align: justify;
}

.button--title {
  font-size: 25px;
}

.button-content {
  color: white;
  font-size: 18px;
  background: #f88767;
  width: 100px;
  height: 55px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.button-content:focus {
  -webkit-box-shadow: 0px 0px 10px 2px #f88767;
          box-shadow: 0px 0px 10px 2px #f88767;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button-content--page {
  color: white;
  font-size: 18px;
  background: #f88767;
  width: 270px;
  height: 55px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.bg-frame {
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: #f5f8fd;
}

.bg-frame__container {
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-frame__container__map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 15px;
}

.bg-frame__container__map div {
  margin: 0 auto;
}

.bg-frame__container__map iframe {
  height: 100%;
  padding-bottom: 7px;
}

@media (max-width: 992px) {
  .bg-frame__container__map iframe {
    min-height: 300px;
  }
}

.bg-frame__container__map::after {
  content: "Tour virtual residencias";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 80px);
  font-weight: 400;
}

.bg-frame__container__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  padding: 10px;
}

.bg-frame__container__content-title {
  color: #757575;
  font-size: 15px;
  font-weight: 600;
}

.bg-frame__container__content-services {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-frame__container__content-services .services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
}

.bg-frame__container__content-services .services-item i {
  color: #f88767;
  font-size: 30px;
  margin: 17px 15px 17px 5px;
}

@media (max-width: 992px) {
  .bg-frame__container__content {
    padding-top: 30px;
  }
}

.card-block {
  margin-top: -100px;
}

.card-block__circle {
  position: relative;
  top: 100px;
}

.card-block__circle-overlay {
  border: 5px solid #97cecb;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.card-block__circle-overlay img {
  position: absolute;
  width: 200px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.card-block__circle-overlay img:hover {
  width: 220px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.card-block__background {
  padding-top: 100px;
  background: #f0f0f0;
  border-radius: 7px;
  border: solid 2px #e2e2e2;
}

.card-block__background__icons img {
  width: 25px;
  height: 25px;
  fill: #f88767;
}

.card-block__title {
  font-size: 15px;
  color: #646464;
}

.card-block__hr {
  width: 70px;
  height: 3px;
  background: #97cecb;
}

.card-block__content {
  color: black;
  font-size: 14px;
}

.card-block--style-2 .card-block__circle {
  top: 145px;
}

.card-block--style-2 .card-block__circle-overlay {
  border: 5px solid #97cecb;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.card-block--style-2 .card-block__circle-overlay img {
  width: 300px;
}

.card-block--style-2 .card-block__circle-overlay img:hover {
  width: 330px;
}

.card-block--style-2 .card-block__content {
  text-align: left;
}

.card-block--style-2 .card-block__background {
  padding-top: 150px;
}

.opinions {
  background: #e6f0f1;
}

.opinions__person {
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  border: solid 2px #ebebeb;
  border-radius: 10px;
  padding: 4% 4% 8% 4%;
}

.opinions__person::after {
  content: "";
  display: block;
  width: 40px;
  height: 15px;
  position: absolute;
  bottom: -15px;
  left: 30px;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  border-left: 20px solid transparent;
}

.opinions__person::before {
  content: "”";
  font-family: "Roboto", sans-serif;
  color: #fdbd03;
  font-size: 100px;
  display: block;
  position: absolute;
  bottom: -80px;
  left: 85%;
}

.opinions__commentary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinions__commentary__circle {
  float: left;
}

.opinions__commentary__circle-overlay {
  border: 4px solid #fdbd03;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.opinions__commentary__description > div {
  font-size: 18px;
}

.footer {
  font-size: 15px;
  background: #757575;
}

.footer a {
  color: white;
}

#pageScroll {
  width: 40px;
  height: 60px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: fixed;
  bottom: -60px;
  z-index: 100;
  left: calc(100% - 250px);
  -webkit-box-shadow: 8px 6px 7px -1px rgba(0, 0, 0, 0.62);
          box-shadow: 8px 6px 7px -1px rgba(0, 0, 0, 0.62);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  #pageScroll {
    left: calc(100% - 100px);
  }
}

#pageScroll:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#pageScroll.scrollModify {
  height: 40px !important;
  width: 70px !important;
  bottom: 100px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0 !important;
  left: calc(100%) !important;
}

#pageScroll.leftT {
  left: calc(100% - 70px) !important;
}
/*# sourceMappingURL=styles.css.map */