@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./variables";
@import "./mixins";

%hover-button {
  background: $colorBotones - 30%;
  cursor: pointer;
}

%center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}

.gray-text{
  color:$colorTextoGris;
}
.navPrincipal {
  background: $colorFondoUno;
  &__content {
    @extend %center-content;
    &__text {
      a {
        color: $blanco;
      }
    }
    &__social {
      font-size: 16px;
      &__medias {
        @extend %center-content;
      }
      a {
        color: $blanco;
        img {
          width: 16px;
        }
      }
    }

    &__search {
      display: flex;
      justify-content: left;
      align-items: center;

      &__input {
        color: red;
        input {
          transition: all 0.7s;
          margin-right: 1em;
          box-sizing: content-box;
          width: 25px;
          background: url(../img/icon--search_b.png);
          background-repeat: no-repeat;
          background-position-y: center;
          background-color: #d4e4f2;
          background-size: 18px;
          border: solid 1px transparent;
          border-radius: 4px;
          &:focus {
            width: 110px;
            background-image: none;
            transition: all 0.7s;
            background-color: $blanco;
          }
        }
      }
      &__collapsible {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        border-left: $blanco solid 1px;
        border-right: $blanco solid 1px;
        cursor: pointer;
        width: 50px;
        outline: none;

        &__spain {
          width: 20px;
        }
        i {
          font-size: 14px;
          color: $blanco;
        }
      }
      &__content {
        width: 100%;
        top: 40px;

        position: absolute;
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        li {
          list-style: none;
          a {
            color: $negro;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}

.background {
  height: 45vh;
  background: url(../img/santander.jpg);
  max-height: 350px;
  background-position: center center;
  background-size: cover;
}

.information {
  &__title {
    font-size: 35px;
    color: $colorTitulos;
  }
  &__separator {
    width: 14px;
    height: 14px;
    background: $amarillo;
    border-radius: 50%;
    &::after {
      @include informationAfterBefore(6px, 14px);
    }
    &::before {
      @include informationAfterBefore(7px, -14vw);
    }
  }
  &__content {
    font-size: 20px;
    color: $colorTextoGris;
    &--BgMap {
      text-align: justify;
    }
  }
}

.button {
  &__tittle {
    font-size: 25px;
    color: $colorTextoAzul;
  }
  &__button {
    @extend %center-content;
    // @parametros tamaño de texto, altura , anchura
    @include buttonStyles(18px, 55px, 100px);
    &:hover {
      @extend %hover-button;
    }
    &:focus {
      box-shadow: 0px 0px 10px 2px $colorBotones;
      outline: none;
      transition: all 0.2s;
    }
    &--page {
      // @parametros tamaño de texto, altura , anchura
      @include buttonStyles(18px, 55px, 270px);
    }
  }
}

.BgMap {
  background-color: $colorFondoDos;
  &__map {
  }
  &__content {
    &__icon {
      width: 45px;
      height: 45px;
      fill: $colorBotones;
    }
  }
}

.cardBlock {
  margin-top: -100px;
  &__circle {
    @extend %center-content;
    position: relative;
    top: 100px;

    &__overlay {
      @extend %center-content;
      @include circlesImage(200px, $celeste, 5px);
      &__image {
        position: absolute;
        width: 200px;
        transition: all 0.4s;

        &:hover {
          width: 220px;
          transition: all 0.4s;
        }
        &--secondary {
          width: 300px;
          &:hover {
            width: 330px;
          }
        }
      }
      &--secondary {
        @include circlesImage(300px, $celeste, 5px);
      }
    }
    &--secondary {
      top: 145px;
    }
  }
  &__background {
    padding-top: 100px;
    background: $colorFondoDos;
    border-radius: 7px;
    border: solid 2px ($colorFondoDos - 14%);
    &--secondary {
      padding-top: 150px;
    }
    &__icons {
      @extend %center-content;
      &__icon {
        width: 25px;
        height: 25px;
        fill: $colorBotones;
      }
    }
  }
  &__title {
    font-size: 16px;
    color: $colorTitulos;
  }
  &__hr {
    width: 70px;
    height: 3px;
    background: $celeste;
  }
  &__content {
    color: $negro;
    font-size: 14px;
    &--secondary {
      text-align: left;
    }
  }
}

.bgFooter {
  background: $colorFondoTres;
  &__person {
    margin-bottom: 20px;
    position: relative;
    background-color: $blanco;
    border: solid 2px ($colorFondoDos - 5%);
    border-radius: 10px;
    padding: 4% 4% 8% 4%;
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 15px;
      position: absolute;
      bottom:-15px;
      left: 30px;

      border-right: 20px solid transparent;
      border-top: 20px solid $blanco;
      border-left: 20px solid transparent;


    }
    &::before{
      content: "”";
      font-family: "Roboto", sans-serif;
      color: $amarillo;
      font-size: 100px;
      display: block;
      position: absolute;
      bottom: -80px;
      left: 85%;
    }
  }
  &__opinion {
    display: flex;
    align-items: center;
    &__circle {
      float: left;

      &__overlay {
        @include circlesImage(100px, $amarillo, 4px);
      }
      &__description {

      }
    }
  }
}

.footer {
  font-size: 15px;
  background: $colorFondoCuatro;
  a {
    color: white;
  }
}
.carousel-item {
  height: 400px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
}

.carousel i {
  font-size: 30px;
  color: black;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #d4c9ca;
  vertical-align: middle;
  opacity: 0.8;
}

.carousel .slide1 {
  background-image: url(../img/slider-residencia-uno.jpg);
  background-size: cover;
}

.carousel .slide2 {
  background-image: url(../img/slider-residencia-uno.jpg);
  background-size: cover;
}

.carousel .container div div {
  top: 50px;
}

.carousel .container div div {
  top: 25px !important;
  background-color: rgba(254, 254, 254, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
  .carousel-item {
    height: 350px;
  }
}

@media only screen and (max-width: 991px) {
  .carousel i {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 25px;
  }
  .carousel-item {
    height: 300px;
  }

  .carousel-text hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .carousel i {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 20px;
  }
  .carousel-item {
    height: 240px;
  }
}

@media only screen and (max-width: 630px) {
  .navPrincipal__content__search .reverse {
    position: relative;
    float: right;
    width: 50%;
  }

  .navPrincipal__content__search .reverse:nth-of-type(1) {
    left: 50%;
  }

  .navPrincipal__content__search .reverse:nth-of-type(2) {
    left: -50%;
  }

  .carousel-item {
    height: 200px;
  }
}

@media only screen and (max-width: 425px) {
  .carousel .container div div {
    padding: 10px;
  }
  .carousel .container {
    padding: 0px;
  }
}
